@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

:root {
  /* fonts */
  --_font-sans: 'Manrope', system-ui, sans-serif;
  --_font-serif: serif;
  --_thin: 100;
  --_extralight: 200;
  --_light: 300;
  --_normal: 400;
  --_medium: 500;
  --_semibold: 600;
  --_bold: 700;
  --_extrabold: 800;
  --_black: 900;

  /* spacing */
  --_size-scoped: 1px;
  --_size-xxs: 0.25rem;
  --_size-xs: 0.5rem;
  --_size-sm: 0.75rem;
  --_size-base: 1rem;
  --_size-md: 1.25rem;
  --_size-lg: 1.5rem;
  --_size-xl: 1.75rem;
  --_size-2xl: 2rem;
  --_size-3xl: 3rem;
  --_size-4xl: 4rem;
  --_size-5xl: 5rem;

  /* colors */
  --_brand-1: hsl(174 77% 80%);
  --_brand-2: hsl(174 86% 45%);

  --_highlight-1: hsl(14 92% 95%);
  --_highlight-2: hsl(15 100% 70%);

  --_surface: hsl(227 35% 25%);
  --_surface-1: hsl(0 0% 100%);
  --_surface-2: hsl(230 100% 99%);
  --_surface-3: hsl(223 50% 87%);
  --_surface-4: hsl(224 65% 95%);
  --_surface-5: var(--_surface);

  --_text-1: hsl(226 100% 87%);
  --_text-2: hsl(225 20% 60%);
  --_text-3: var(--_surface);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* set the default html size to full page */
html {
  inline-size: 100%;
  block-size: 100%;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-inline-size: 100%;
  min-block-size: 100%;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--_font-sans);
  font-size: var(--_size-base);
  font-weight: var(--_normal);
}

/* Set minimum line-height for heading elements */
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-inline-size: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Content thats not visible but read by screen-readers */
.sr-only {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
